[submodule "sm/1.1"]
	path = sm/1.1
    url = https://github.com/reorg/pg_repack.git
[submodule "sm/master"]
	path = sm/master
    url = https://github.com/reorg/pg_repack.git
[submodule "sm/1.2"]
	path = sm/1.2
    url = https://github.com/reorg/pg_repack.git
[submodule "sm/1.3"]
	path = sm/1.3
	url = https://github.com/reorg/pg_repack.git
